:root{
	--light-backgroundcolor:rgb(242, 201, 53);
	--heavy-backgroundcolor:rgb(203, 165, 10);
	--trans:all 0.3s ease-in-out;
	--shadow:0 3px 5px 0px rgb(0,0,0,0.4); 
	--border:2px solid rgb(127, 104, 9, 0.8);
}

*{
	box-sizing: border-box;
}

div.IOLog{
	width: 94%;
	height: 0px;
	margin-left: 3%;
	margin-right: 3%;
    position: fixed;
    bottom: 2%;
    right:  0;
	z-index: 1;
	max-width: 600px;
    background-color: var(--light-backgroundcolor);
    transition: var(--trans);
}

div.IOLog.off :not(first-child){
	visibility: hidden;
}

div.switchButton{
	position: absolute;
	right: 0;
	top: -43px;	
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	color: rgb(106, 107, 109);
	background-color:  inherit;
	box-shadow: var(--shadow);
	border: var(--border);	
	transition: var(--trans);
}

div.IOLog.off div.switchButton:before{
	content: "\25b2";
}

div.IOLog.on div.switchButton:before{
	content: "\25bc";
}

div.IOLog.off div.switchButton{
	visibility: visible;	
	border-radius: 25px;
	border: var(--border);		
	width: 50px;
	top: -53px;	
	height: 50px;
	font-size: 30px;
	line-height: 40px;
}


div.IOLog.on *{
	visibility: visible;
}

div.IOLog.on{	
	height: 40%;   
    border-top-width:  2px solid grey;	
    box-shadow: var(--shadow);
}

div.IOLog .controller,.valueType{
	position: absolute;
	left: 0;
	top: -43px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	color: rgb(106, 107, 109);
	background-color: inherit;
	box-shadow: inherit; 
	overflow: hidden;
	border: var(--border);	
}

div.IOLog .controller{
	font-size: 15px;
	line-height: 15px;
}

div.IOLog .controller{
	width: 80px;
}

div.IOLog .valueType{	
	width: 40px;
	left: 80px;
	line-height: 30px;
}


div.IOLog .mainBody{
	display: flex;
	flex-direction: row;
	height:  100%;
}

div.mainBody>*{
	border: var(--border);	
	display: flex;
	flex-direction: column;
}

div.mainBody .log{	
	flex:80%;
}

div.mainBody .filter{
	flex:20%;
	min-width: 100px;
}

div.mainBody .head{
	font-size:1.5em;
	border-bottom: inherit;
	text-align: center;	
	color:white;
	-webkit-text-stroke: 1px black;
	text-shadow: 0 2px 2px 0 rgb(0,0,0,0.5);
}

div.mainBody .content{
	font-size: 1.2em;
	line-height: 1em;	
	overflow: auto;
	flex: 100%;
	background-color: var(--heavy-backgroundcolor);
	box-shadow: 0 0 5px 0 inset rgb(0,0,0,0.5);
	font-family: Lucida Sans Unicode;
	font-weight: bold;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 46px;
}


div.mainBody *{
	margin:0;
	padding:0;
}

div.IOLog textarea.filterText{
	resize: none;
	width: 95%;
	margin-bottom: 0;
	height: 90%;	
	background-color: var(--light-backgroundcolor);
	border:none;
}

div.IOLog button{
	margin:1px 0;
	position: absolute;
	bottom: 5px;
	padding: 5px 10px;
	background-color: #ab8b0a;
	box-shadow: 0 2px 9px 0 rgb(0,0,0,0.7);
	color: white;
	font-size: 20px;
	border: none;	
	font-family: Lucida Sans Unicode;
}

div.IOLog button:active{
	background-color: #7f6809;
	box-shadow: none;
	transform: scale(0.95);
}

div.IOLog button.filterClear{	
	right:10px;
}

div.IOLog button.logClear{
	left:10px;
}

div.IOLog.off+div.IOContent+div div.dummyIOLogMargin{
	height: 100px;
}

div.IOLog.on+div.IOContent+div div.dummyIOLogMargin{
	height:50vh;
}
