div.beforeAJAX{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(0,0,0,0.5);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.beforeAJAX div{
	padding: 30px;
	width: 100%;
	line-height: 80px;
	font-size:40px;
	background-color: rgb(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgb(0,0,0,0.5);
	color: white;
}

div.AJAXFetching:after{
	content:"...";
	animation: waitAni 2s linear infinite backwards;
}

div.AJAXFail{
	display: none;
}

@keyframes waitAni{
	0% {content:".";}
	50%{content:"..";}
	100%{content:"...";}
}