*{
	box-sizing: border-box;
}

div.sideBarContainer{
	position: fixed;
	top: 0;
	left: -249px;	
	width: 250px;
	height: 100%;
	transition: 0.8s ease;
	background: white;
	z-index: 2;
}

@media only screen and (max-width: 600px) {
    div.sideBarContainer{
	position: fixed;
	top: 0;
	left: -180px;	
	width: 180px;
	height: 100%;
	transition: 0.8s ease;
	background: white;
	z-index: 2;
}
}

div.sideBarContainer:hover{
	left: 0;
}

div.sideBarBackgroundMask{
	width: 0;
	height: 0;
}

div.sideBarContainer:hover~div.sideBarBackgroundMask{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.5);
	z-index: 1;
}

div.sideBarCaption{
	position: relative;
	display: flex;
	width:120%;
	/*min-width: 150px;*/
	align-items: center;
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: white;
	z-index: 2;
	/*border-bottom: 1px solid rgb(0,0,0,0.5);*/
	box-shadow: 0 1px 5px 0px rgb(0,0,0,0.4);
}

div.sideBarCaptionText{
	flex: 75%;
	font-family: san serif;
	padding: 10px;
	margin: 0;
}

div.sideBarIcon{
	flex: 25%;
	position: relative;
}

div.sideBarIconHR{
	position: absolute;		
	top: -10px;
	right: 5px;
}

div.sideBarIconHR>hr{
	width:20px;
	margin: 5px;
}

div.sideBarMenuContainer{
	position: relative;
	width: 100%;
	height: 100%;
	border-right: 1px solid rgb(0,0,0,0.5);
	box-shadow: 0 1px 5px 0px rgb(0,0,0,0.4);
	margin: 0;
	padding: 0;
	z-index: 1;
}

div.sideBarMenuContainer *{
	margin: 0;
	padding: 0;
}


ul{
	list-style-type: none;
}

li.sideBarControllerList{
	display: none;	
}

div.sideBarControllerActionContainer{
	position: relative;
	height:40px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	box-shadow: 1px 0px 1px 0px rgb(0,0,0,0.4);
}

div.sideBarControllerActionContainer:hover{
	background-color: rgb(0,0,0,0.2);
}

p.sideBarControllerName{
	flex:75%;
	padding: 10px;
}

p.downArrow{
	flex:25%;
	text-align: right;
	padding: 10px;
}

li[class^=sideBarMenu]{
	text-align: right;
	padding: 5px;
	padding-right: 30px;	
}

li[class^=sideBarMenu]:not(.sideBarMenuLimit){
	border-bottom: 1px solid rgb(0,0,0,0.5);
}

li.sideBarMenuLimit{
	border-bottom: 1px solid black;
}

li[class^=sideBarMenu]:hover{
	background-color: rgb(0,0,0,0.5);
}

li.sideBarMenuInput:first-child{
	padding-top: 10px;
}

ul.sideBarControllerIOList{
	display: none;
}

ul.sideBarControllerIOListClick{
	display: block;
}